//
// Color Variables
//
$font-family: 'PT Sans', sans-serif;
$font-family-anim:'Source Sans Pro', sans-serif;
$font-fam: 'Open Sans', sans-serif;
$font-fam1:'Barlow Semi Condensed', sans-serif;
$font-mont:'Montserrat', sans-serif;
$light-black:#333;
$black-rgba:rgba(0, 0, 0, 0.1);
$black-rgba1:rgba(0,0,0,0.25);
$black-rgba2:rgba(0,0,0,0.22);
$black-shade1:#555;
$light-gray:#d9d9d9;
$grey:#999;
$gray-silver:#e7e7e7;
$gray-shade:#adadad;
$gray-shade1:#848484;
$blue-shade:#38d39f;
$blue-shade1:#32be8f;
$blue-shade2:#00BCD4;
$blue-shade3:#80bdff;
$blue-shade4:#ECF0F1;
$blue-dark:#009788;
$blue-rgba:rgba(0,123,255,.25);
$blue-gradient:linear-gradient(70deg,#2196F3,#03bcd4,#2196F3);
$white-color:#fff;
$white-shade:#eee;
$white-shade1:#DDDDDD;
$white-rgba:rgba(255, 255, 255, 0.2);
$white-rgba1:rgba(255, 255, 255, 0.4);
$light-shade-white:#f5f7f9;
$newanim-grad:linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
$green-shade:#53e3a6;
$green-shade1:#28a745;
$green-shade2:#218838;
$green-shade3:#1abc9c;
$green-shade4:#16a085;
$red-light:#FF4B2B;
$red-shade: #FF416C;



